In [2]:
#import required modules
import pandas as pd
import re
import json

In [3]:
%ls ~/big_data_group_project/movie_recommendation/kaggle_movie_dataset

credits.csv   links.csv        main.ipynb           ratings.csv
keywords.csv  links_small.csv  movies_metadata.csv  ratings_small.csv

In [4]:
movies_metadata = pd.read_csv('~/big_data_group_project/movie_recommendation/kaggle_movie_dataset/movies_metadata.csv',\
delimiter=',')
#movies_metadata.head()
#movies_metadata.dtypes
credits = pd.read_csv('~/big_data_group_project/movie_recommendation/kaggle_movie_dataset/credits.csv',\
delimiter=',')
#credits.head()

/home/d2/.local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [28]:
#concatenate genres and append to dataframe
t=''
l=[]
for s in movies_metadata['genres']:
    for x in list(eval(s)):
        t+=(x['name']) + ' '
    l.append(t)
    t=''
movies_metadata['genres1']=pd.DataFrame(l)
movies_metadata['genres1'].head()

0     Animation Comedy Family
1    Adventure Fantasy Family
2              Romance Comedy
3        Comedy Drama Romance
4                      Comedy
Name: genres1, dtype: object

In [35]:
#concatenate cast and append to dataframe
t=''
l=[]
for s in credits['cast']:
    for x in list(eval(s)):
        t+=(x['name']) + ' '
    l.append(t)
    t=''
credits['cast1']=pd.DataFrame(l)
credits.head()
#credits.loc[:,'cast1']
myData=pd.DataFrame(data=movies_metadata['genres1'] + ' ' + credits['cast1'], columns=['myData'])
myData.head()

                                              myData
0  Animation Comedy Family  Tom Hanks Tim Allen D...
1  Adventure Fantasy Family  Robin Williams Jonat...
2  Romance Comedy  Walter Matthau Jack Lemmon Ann...
3  Comedy Drama Romance  Whitney Houston Angela B...
4  Comedy  Steve Martin Diane Keaton Martin Short...